/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,400&display=swap');

body
{
    font-family: 'Bricolage Grotesque', sans-serif;
    line-height: 1.1;
}

#profile {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
}

/* chatbot */

.chatbot-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* responsive */
@media (max-width: 786px){
    .row{
        flex-direction: column-reverse;
    }
    #social{
        margin-top: 20px;
    }
    #logo img {
        background-color:red;
        width: 100%; 
        display: none;
    }

}

.icons img
{
    /* width: 20%; */
    aspect-ratio: 2/1   ;
    object-fit: contain;
}