body
{
    font-family: 'Bricolage Grotesque', sans-serif;
    line-height: 1.1;
}

#profile {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    overflow: hidden;
}

/* chatbot */

.chatbot-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* responsive */
@media (max-width: 786px){
    .row{
        flex-direction: column;
    }
    .about
    {
        flex-direction: column-reverse;

    }
    .display-5
    {
        margin-bottom: 20px;
    }
    /* .chatbot-container
    {
        width: 10%;
    } */
    #social{
        margin-top: 20px;
    }
    #logo img {
        background-color:red;
        width: 100%; 
        display: none;
    }

}

.icons img
{
    /* width: 20%; */
    aspect-ratio: 2/1   ;
    object-fit: contain;
}

.myLink
{
    text-decoration: none;

}

/* certificates */
.linkBtn
{
    border: 1px solid rgb(82, 79, 79); 
    border-radius: 25px; padding: 7px; 
    background-color: white;
    text-decoration: none;
}
.linkBtn:hover
{
    background-color: rgb(175, 124, 124);
}