@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Glitch Effect */
.glitch {
  position: relative;
  display: inline-block;
  color: limegreen;
  font-family: 'Courier New', Courier, monospace;
}

.glitch::before, .glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  color: limegreen;
  top: 0;
  opacity: 0.8;
  animation: glitch 2s infinite;
}

.glitch::before {
  left: 2px;
  text-shadow: -2px 0 red;
  clip: rect(24px, 9999px, 90px, 0);
}

.glitch::after {
  left: -2px;
  text-shadow: -2px 0 blue;
  clip: rect(85px, 9999px, 140px, 0);
}

@keyframes glitch {
  0%, 100% {
    clip: rect(85px, 9999px, 140px, 0);
  }
  50% {
    clip: rect(10px, 9999px, 85px, 0);
  }
}

